In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train_data = pd.read_csv('./data/titanic/data/train.csv')

In [3]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

def encoder(data):
    values = np.array(data)
    label_encoder = LabelEncoder()
    integer_encoded = label_encoder.fit_transform(values)
    # binary encode
    onehot_encoder = OneHotEncoder(sparse=False)
    integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
    onehot_encoded = onehot_encoder.fit_transform(integer_encoded)
    # invert first example
    print(len(onehot_encoded))
    index = [data.name+'_'+str(label_encoder.inverse_transform([i])[0]) for i in range(len(onehot_encoded[0]))]
    return pd.DataFrame(onehot_encoded, columns = index)

In [6]:
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [8]:
train = train_data.join(encoder(train_data['Sex']), encoder(train_data['Embarked']), encoder(train_data['Pclass']))

891

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['float', 'str']

In [11]:
import random

train_data['Age'].fillna(train_data['Age'].mean(), inplace=True)
train_data['Embarked'].fiilna(random.choice(['S', 'C', 'Q']), inplace=True)

AttributeError: 'Series' object has no attribute 'fiilna'

In [15]:
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,NaN,Q

In [12]:
train_data['Embarked'].fillna(random.choice(['S', 'C', 'Q']), inplace=True)

In [19]:
train = train_data.join([encoder(train_data['Pclass']), encoder(train_data['Embarked']), encoder(train_data['Sex'])])

891
891
891

In [20]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,NaN,S,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,NaN,S,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,NaN,Q,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0

In [22]:
train.drop(columns=['PassengerId', 'Pclass', 'Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], inplace=True)

In [25]:
train_label = train['Survived']
train.drop(columns=['Survived'], inplace=True)

In [26]:
train_label

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [28]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
train = scaler.fit_transform(train)

In [29]:
train

array([[0.27117366, 0.125     , 0.        , ..., 1.        , 0.        ,
        1.        ],
       [0.4722292 , 0.125     , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.32143755, 0.        , 0.        , ..., 1.        , 1.        ,
        0.        ],
       ...,
       [0.36792055, 0.125     , 0.33333333, ..., 1.        , 1.        ,
        0.        ],
       [0.32143755, 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ],
       [0.39683338, 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [30]:
train.shape

(891, 12)

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train, train_label.to_numpy(), test_size=0.15, random_state=42)

In [41]:
dataloaders_train = T.utils.data.DataLoader(T.tensor(X_train, dtype=T.float), batch_size=32)

dataloaders_label = T.utils.data.DataLoader(T.tensor(y_train, dtype=T.long), batch_size=32)

In [42]:
import torch as T
import torch.nn as nn
import torch.optim as optim
import torch.nn.functional as F


class Model(nn.Module):
    def __init__(self):
        super(Model, self).__init__()
        self.fc1 = nn.Linear(12, 32)
        self.fc2 = nn.Linear(32,64)
        self.fc3 = nn.Linear(64, 32)
        self.fc4 = nn.Linear(32,16)
        self.fc5 = nn.Linear(16,2)
        self.dropout = nn.Dropout(0.2)
        
        fc1 = 1.0/np.sqrt(self.fc1.weight.data.size()[0])
        fc2 = 1.0/np.sqrt(self.fc2.weight.data.size()[0])
        fc3 = 1.0/np.sqrt(self.fc3.weight.data.size()[0])
        fc4 = 1.0/np.sqrt(self.fc4.weight.data.size()[0])
        fc5 = 1.0/np.sqrt(self.fc4.weight.data.size()[0])
        
        T.nn.init.uniform_(self.fc1.weight.data, -fc1,fc1)
        T.nn.init.uniform_(self.fc1.bias.data, -fc1,fc1)
        T.nn.init.uniform_(self.fc2.weight.data,-fc2,fc2)
        T.nn.init.uniform_(self.fc2.bias.data, -fc2,fc2)
        T.nn.init.uniform_(self.fc3.weight.data,-fc3,fc3)
        T.nn.init.uniform_(self.fc3.bias.data, -fc3,fc3)
        T.nn.init.uniform_(self.fc4.weight.data,-fc4,fc4)
        T.nn.init.uniform_(self.fc4.bias.data, -fc4,fc4)
        T.nn.init.uniform_(self.fc4.weight.data,-fc5,fc5)
        T.nn.init.uniform_(self.fc4.bias.data, -fc5,fc5)
        
    def forward(self, x):
        x = F.relu(self.fc1(x))
        x = self.dropout(x)
        x = F.relu(self.fc2(x))
        x = self.dropout(x)
        x = F.relu(self.fc3(x))
#         x = self.dropout(x)
        x = F.relu(self.fc4(x))
#         x = self.dropout(x)
        x = T.sigmoid(self.fc5(x))
        return x
    
net = Model()

In [43]:
criterion = nn.CrossEntropyLoss()
optimizer = optim.Adam(net.parameters(), lr=0.001, momentum=0.9)

In [44]:
net.train()
for epoch in range(5):
    running_loss = 0.0
    x = zip(dataloaders_train, dataloaders_label)
    for i, data in enumerate(x):
        input_data, label = data
        
        optimizer.zero_grad()
        output = net(input_data)
        
        loss = criterion(output, label)
        loss.backward()
        optimizer.step()
        
        running_loss+=loss.item()
        print('step {}, loss: {}'.format(i, loss.item))
    print('\n epoch: {}, loss:{} \n'.format(epoch, running_loss))

step 0, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 1, loss: <built-in method item of Tensor object at 0x0000014805338580>
step 2, loss: <built-in method item of Tensor object at 0x0000014804A85FC0>
step 3, loss: <built-in method item of Tensor object at 0x0000014805338580>
step 4, loss: <built-in method item of Tensor object at 0x0000014804A85FC0>
step 5, loss: <built-in method item of Tensor object at 0x0000014805338580>
step 6, loss: <built-in method item of Tensor object at 0x0000014804A85FC0>
step 7, loss: <built-in method item of Tensor object at 0x0000014805338580>
step 8, loss: <built-in method item of Tensor object at 0x0000014804A85FC0>
step 9, loss: <built-in method item of Tensor object at 0x0000014805338580>
step 10, loss: <built-in method item of Tensor object at 0x0000014804A85FC0>
step 11, loss: <built-in method item of Tensor object at 0x0000014804A85EC0>
step 12, loss: <built-in method item of Tensor object at 0x0000014804A85FC0>
step 13, loss: <built-in method item of Tensor object at 0x0000014804A85EC0>
step 14, loss: <built-in method item of Tensor object at 0x0000014804A85FC0>
step 15, loss: <built-in method item of Tensor object at 0x0000014804A85EC0>
step 16, loss: <built-in method item of Tensor object at 0x0000014804A85FC0>
step 17, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 18, loss: <built-in method item of Tensor object at 0x0000014804A85FC0>
step 19, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 20, loss: <built-in method item of Tensor object at 0x0000014804A85FC0>
step 21, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 22, loss: <built-in method item of Tensor object at 0x0000014804A85FC0>
step 23, loss: <built-in method item of Tensor object at 0x0000014804A85380>

 epoch: 0, loss:16.558768272399902

step 0, loss: <built-in method item of Tensor object at 0x0000014804A85FC0>
step 1, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 2, loss: <built-in method item of Tensor object at 0x0000014804A85FC0>
step 3, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 4, loss: <built-in method item of Tensor object at 0x0000014804A85FC0>
step 5, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 6, loss: <built-in method item of Tensor object at 0x0000014804A85FC0>
step 7, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 8, loss: <built-in method item of Tensor object at 0x0000014804A85FC0>
step 9, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 10, loss: <built-in method item of Tensor object at 0x0000014804A85FC0>
step 11, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 12, loss: <built-in method item of Tensor object at 0x0000014804A85FC0>
step 13, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 14, loss: <built-in method item of Tensor object at 0x0000014804A85FC0>
step 15, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 16, loss: <built-in method item of Tensor object at 0x0000014804A85FC0>
step 17, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 18, loss: <built-in method item of Tensor object at 0x0000014804A85FC0>
step 19, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 20, loss: <built-in method item of Tensor object at 0x0000014804A85FC0>
step 21, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 22, loss: <built-in method item of Tensor object at 0x0000014804A85FC0>
step 23, loss: <built-in method item of Tensor object at 0x0000014804A85380>

 epoch: 1, loss:16.53152883052826

step 0, loss: <built-in method item of Tensor object at 0x0000014804A873C0>
step 1, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 2, loss: <built-in method item of Tensor object at 0x0000014804A873C0>
step 3, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 4, loss: <built-in method item of Tensor object at 0x0000014804A873C0>
step 5, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 6, loss: <built-in method item of Tensor object at 0x0000014804A873C0>
step 7, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 8, loss: <built-in method item of Tensor object at 0x0000014804A873C0>
step 9, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 10, loss: <built-in method item of Tensor object at 0x0000014804A873C0>
step 11, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 12, loss: <built-in method item of Tensor object at 0x0000014804A873C0>
step 13, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 14, loss: <built-in method item of Tensor object at 0x0000014804A873C0>
step 15, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 16, loss: <built-in method item of Tensor object at 0x0000014804A873C0>
step 17, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 18, loss: <built-in method item of Tensor object at 0x0000014804A873C0>
step 19, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 20, loss: <built-in method item of Tensor object at 0x0000014804A873C0>
step 21, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 22, loss: <built-in method item of Tensor object at 0x0000014804A873C0>
step 23, loss: <built-in method item of Tensor object at 0x0000014804A85380>

 epoch: 2, loss:16.507863402366638

step 0, loss: <built-in method item of Tensor object at 0x0000014804A85FC0>
step 1, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 2, loss: <built-in method item of Tensor object at 0x0000014804A85EC0>
step 3, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 4, loss: <built-in method item of Tensor object at 0x0000014804A51500>
step 5, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 6, loss: <built-in method item of Tensor object at 0x0000014804A51500>
step 7, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 8, loss: <built-in method item of Tensor object at 0x0000014804A51500>
step 9, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 10, loss: <built-in method item of Tensor object at 0x0000014804A51500>
step 11, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 12, loss: <built-in method item of Tensor object at 0x0000014804A51500>
step 13, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 14, loss: <built-in method item of Tensor object at 0x0000014804A51500>
step 15, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 16, loss: <built-in method item of Tensor object at 0x0000014804A51A00>
step 17, loss: <built-in method item of Tensor object at 0x0000014804A873C0>
step 18, loss: <built-in method item of Tensor object at 0x0000014804A51A00>
step 19, loss: <built-in method item of Tensor object at 0x0000014804A873C0>
step 20, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 21, loss: <built-in method item of Tensor object at 0x0000014804A873C0>
step 22, loss: <built-in method item of Tensor object at 0x0000014804A85380>
step 23, loss: <built-in method item of Tensor object at 0x0000014804A873C0>

 epoch: 3, loss:16.510062873363495

step 0, loss: <built-in method item of Tensor object at 0x0000014804A85EC0>
step 1, loss: <built-in method item of Tensor object at 0x0000014804A873C0>
step 2, loss: <built-in method item of Tensor object at 0x0000014804A85EC0>
step 3, loss: <built-in method item of Tensor object at 0x0000014804A873C0>
step 4, loss: <built-in method item of Tensor object at 0x0000014804A85EC0>
step 5, loss: <built-in method item of Tensor object at 0x0000014804A873C0>
step 6, loss: <built-in method item of Tensor object at 0x0000014804A85EC0>
step 7, loss: <built-in method item of Tensor object at 0x0000014804A873C0>
step 8, loss: <built-in method item of Tensor object at 0x0000014804A85EC0>
step 9, loss: <built-in method item of Tensor object at 0x0000014804A873C0>
step 10, loss: <built-in method item of Tensor object at 0x0000014804A85EC0>
step 11, loss: <built-in method item of Tensor object at 0x0000014804A873C0>
step 12, loss: <built-in method item of Tensor object at 0x0000014804A85EC0>
step 13, loss: <built-in method item of Tensor object at 0x0000014804A873C0>
step 14, loss: <built-in method item of Tensor object at 0x0000014804A85EC0>
step 15, loss: <built-in method item of Tensor object at 0x0000014804A873C0>
step 16, loss: <built-in method item of Tensor object at 0x0000014804A85EC0>
step 17, loss: <built-in method item of Tensor object at 0x0000014804A873C0>
step 18, loss: <built-in method item of Tensor object at 0x0000014804A85EC0>
step 19, loss: <built-in method item of Tensor object at 0x0000014804A873C0>
step 20, loss: <built-in method item of Tensor object at 0x0000014804A85EC0>
step 21, loss: <built-in method item of Tensor object at 0x0000014804A873C0>
step 22, loss: <built-in method item of Tensor object at 0x0000014804A85EC0>
step 23, loss: <built-in method item of Tensor object at 0x0000014804A873C0>

 epoch: 4, loss:16.467446208000183

In [45]:
cv_data = T.utils.data.DataLoader(T.tensor(X_test, dtype=T.float), batch_size=1)

cv_label = T.utils.data.DataLoader(T.tensor(y_test, dtype=T.long), batch_size=1)

In [48]:
correct = 0
total = 0
y = zip(cv_data, cv_label)
with T.no_grad():
    for i,data in enumerate(y):
        images, labels = data
        outputs = net(images)
        _, predicted = T.max(outputs.data, 1)
        total += labels.size(0)
        correct += (predicted == labels).sum().item()

print('Accuracy of the network on the 10000 test images: %d %%' % (
    100 * correct / total))

Accuracy of the network on the 10000 test images: 58 %

In [49]:
total

134

In [50]:
correct

78

In [51]:
(predicted == labels).sum().item()

0

In [54]:
T.max(outputs.data, 1)

torch.return_types.max(
values=tensor([0.5203]),
indices=tensor([0]))

In [53]:
labels

tensor([1])